.options {
  text-align: center;
  margin-bottom: 20px;
}

.options button {
  margin: 0 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.good:hover {
  border-color: green;
}

.good:focus {
  background-color: green;
}
.neutral:hover {
  border-color: goldenrod;
}

.neutral:focus {
  background-color: goldenrod;
}
.bad:hover {
  border-color: crimson;
}

.bad:focus {
  background-color: crimson;
}
.reset {
  border: 1px solid transparent;
  transition: background-color 0.5s ease, border-color 0.5s ease;
}

.reset:hover {
  border-color: gray;
}

.resetting {
  background-color: lightgray;
  border-color: gray;
  color: rgb(16, 16, 16);
}
